<% include head5.ejs %>

<app name="888"></app>
<aaa name="666"></aaa>

<div>
  <input v-model="parentMsg">
  <br>
  <child :msg="parentMsg"></child>
</div>


<script src="http://xhxiaoyemian.cello.com/dist/vue.js"></script>
<script src="http://xhxiaoyemian.cello.com/dist/loader.js" data-main="page/back"></script>
<script src="http://xhxiaoyemian.cello.com/dist/page/back.js"></script>

<% include foot.ejs %>
