<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= this.pageTitle %></title>
	<meta name="keywords" content="<%= this.keywords %>">
	<meta name="description" content="<%= this.description %>">

	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<%- loader.load(this.os) %>
	<%- loader.loadRem(this.os) %>
	<%- loader.loadCSS(['core/cssresetm']) %>
</head>
<body>
